.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
  color: #8892B0;
}

.heroSection {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
.ResumeButton {
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 50%;
  color: $color-tertiary;
  border: 1px solid $color-tertiary;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-tertiary;
  }
  @media (max-width: 768px) {
    padding: 0.8rem;
  }
}

.aboutSection {
  color: $color-tertiary;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 5rem;
  
  @media (max-width: 768px) {
    padding: 2rem;
  }
}


.aboutText {
  max-width: 900px;
  margin: 0 auto;
  padding: 0rem;
  line-height: 1.6;
}

.stackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}

.techBadge {
  background-color: $background-main;
  color: $color-tertiary;
  border: 1px solid $color-tertiary;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
 

  @media (max-width: 768px) {
    width: calc((100% - 1rem) / 1);
    margin: 0;
    margin-right: -25px;
    margin-top: 10px;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    display: inline-block; 
  vertical-align: middle; 
  }
  &:hover {
    background-color: $color-primary;
    color: $background-main;
  }
}

.p {
  color: $color-tertiary;
}



// project section;

.projectsSection{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 5rem;
  
  @media (max-width: 768px) {
    padding: 2rem;
  }
}


// contact section
.contactSection {
  background-color: $background-main;
  color: $color-primary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 8px;
  margin: auto;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem;
  }
}

.contactForm {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  max-width: 500px;

  @media (max-width: 768px) {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
}

.formTitle,
.infoTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.formInput,
.formTextArea {
  background: $color-button;
  border: 1px solid $color-secondary;
  color: $color-primary;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;

  &:focus {
    outline-color: $color-tertiary;
  }
}

.formTextArea {
  height: 150px;
  resize: vertical;
}

.formButton {
  background: $color-tertiary;
  color: $color-button;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  height: 10%;
  
  &:hover {
    background-color: darken($color-tertiary, 10%);
  }
}

.contactInfo {
  flex-basis: 45%;
  max-width: 500px;

  @media (max-width: 768px) {
    flex-basis: 100%;
  }
}

.infoText {
  margin-bottom: 2rem;
}

.contactEmail,
.contactPhone,
.socialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-primary;
  margin-bottom: 1rem;

  &:hover {
    color: $color-tertiary;
  }
}

.icon {
  width: 24px;
  height: 24px; 
  margin-right: 1rem;
  fill: currentColor; 
}
